// VARIABLES
$black: #000;
$white: #FFF;
$red: #FF0000;

// HELPFULL
body, h1, h2, ul, li, p {
	margin: 0;
	padding: 0;
}

// OTHERS
ul li { list-style: none; }
a { text-decoration: none; }

// MIXINS
$fix-mqs: false !default;
@mixin bp($point) {
    @if $fix-mqs {
        @if $fix-mqs >= $point {
            @content;
        }
    }
    @else {
        @media screen and (min-width: $point / 16 + em) {
            @content;
        }
    }
}

@mixin bpmax($point) {
    @media screen and (max-width: $point / 16 + em) { @content; }
}

@mixin fs($fontsize: 16, $fontbase: 16) {
  font-size: $fontsize + px;
  font-size: ($fontsize / $fontbase) * 1rem;
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin box-shadow($x, $y, $blur, $distance, $color) {
    -moz-box-shadow: $x $y $blur $distance $color;
    -webkit-box-shadow: $x $y $blur $distance $color;
    -o-box-shadow: $x $y $blur $distance $color;
    box-shadow: $x $y $blur $distance $color;
}