.page_connexion {
	display: inline-block;
	position: relative;
	width: 100%;
	background: url("../images/triangular.png");

	.connexion_area {
		display: inline-block;
		position: relative;
		text-align: center;
		margin: 0 35%;
		padding: 50px;
		background-color: $white;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		box-shadow: 0 0 55px  $black;
		-moz-box-shadow: 0 0 55px  $black;
		-webkit-box-shadow: 0 0 55px  $black;
	}
}
.formulaire_connexion {
	display: inline-block;
	position: relative;
	width: 100%;

	.form_elem {
		display: inline-block;
		position: relative;
		width: 100%;
		margin-top: 10px;

		&:first-child { margin-top: 20px; }

		input, button {
			display: inline-block;
			position: relative;
			width: 100%;
			padding: 10px;
			font-size: 12px;
		}
		button {
			cursor: pointer;
			border: 1px solid $black;
		}
	}
}